# My editorconfig config
root = true

# General
[*]
charset = utf-8
indent_size = 2
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespaces = true


[.md]
indent_size = 2
